
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700|Sanchez|Josefin+Slab:400,700';
@import "animate.css";

/* CSS declarations go here */
body {
    font-family: sans-serif;
    /*background-color: #999;*/
    /*background-image: linear-gradient(to bottom, #315481, #918e82 100%);*/
    background-attachment: fixed;
    background-image: url('img/woodbg.jpg');

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 450px;
    margin: 0 auto;
    margin-top:30px;
    min-height: 100%;
    padding:10px;
    /*background: white;*/
}

header {
    color: #fff;
    text-shadow: 0px 1px 1px #000;
    margin-bottom: 20px;
    position: relative;
}

#login-buttons {
    display: block;
}

.logo{
    position: absolute;
    width:155px;
    display: block;

    float: right;

}
h1, h4 {
    font-family: 'Josefin Slab', serif;
    font-weight:bold;
}

h1 {
    font-size: 2.8em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
    color: #000;
    text-shadow: 0 1px 0px rgba(255,255,255,0.5);
}

h4 {
    margin: 10px 0 10px;

}

form {
    /*margin-top: 15px;*/
    /*margin-bottom: -10px;*/
    position: relative;
    line-height: 40px;
    border:0;
}

.new-task input {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    background: rgba(0,0,0,0.4);
    border: 0 none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    width: 100%;
    /*padding-right: 80px;*/
    font-size: 1em;
    padding:0;
    padding-left:20px;
    /*box-shadow: 0px 0px 5px rgba(0,0,0,0.5) inset;*/
    line-height: 35px;
    box-shadow:
            0px 1px 0 rgba(0,0,0,0.7) inset,
            0 0 15px rgba(0, 0, 0, 0.8) inset,
            0px 1px 0 rgba(255,255,255,0.7);
    color: #fff;
}

.new-task input:focus{
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    position: relative;
    list-style: none;
    /*height:40px;*/
}

.task{
    font-family: 'Open Sans', sans-serif;
    line-height: 35px;
    background-color: rgba(255,255,255,0.9);
    margin:6px 0;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);

    /*border radius*/
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    cursor: pointer;
}

li.task .checkbox{
    padding: 0 5px;
    font-size: 2em;
    cursor: pointer;
}

li.task.done{
    color:#616161;
    text-decoration: line-through;

    /*display: none;*/

    /*add opacity*/
    filter: alpha(opacity=30) !important;
    opacity: 0.3 !important;
    zoom: 1;
}
li.task.done input[type='text']{
    text-decoration: line-through;
}

li.task .label {
    /*display: inline-block;*/
    width:80%;
}

li.task .editTask{
    font-size: 1em;
    line-height: 24px;
    display:inline-block;
    /*height:1em;*/
    /*line-height: 1em;*/
    resize: none;
    cursor: text;
    width:75%;
    background-color: rgba(255,255,255,0);

    border:1px solid rgba(255,255,255,0);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.editTask:hover{
    /*cursor: pointer;*/
    border:1px solid #ccc;
}

.editTask:active, .editTask:focus{
    border:1px solid #0099ff !important;
    /*cursor: text !important;*/
    outline: 0;
}

.readonly{
    cursor:default;
}

.unstarred {
    display: block;
    width: 20px;
    height: 30px;
    position: absolute;
    right: 44px;
    top: 0;
    content: "";
    opacity: 0.4;
    cursor: pointer;

    background-image:url(img/nostar.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:center;
}
.unstarred:hover{
    opacity: 1;
}
.task.starred {
    background-image:url(img/star.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 90% -1px;
}
.removestar{
    background: none;
}

.delete {
    position: absolute;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    cursor: pointer;
    top:20%;
    right:5px;

    -webkit-border-radius:25%;
    -moz-border-radius:25%;
    border-radius:25%;
}
.delete:hover{
    background-color: crimson;
    color: #fff;
}

li.private {
    background: #eee;
    border-color: #ddd;
}

header .hide-completed {
    float: right;
    cursor: pointer;
}

.toggle-private {
    margin-left: 5px;
}

@media (max-width: 500px) {
    li {
        padding: 12px 15px;
    }
    li.task .label{
        margin:0;
    }
    li.task span{
        font-size: 1.2em;
    }
    li.task.starred{
        background-position: 88% -1px;
    }
    .search {
        width: 150px;
        clear: both;
    }
    .delete{
        font-size: 1.8em;
    }
    .unstarred{
        width: 40px;
        height: 40px;
        top: 15%;
        right: 10%;
    }
    .new-task input {
        padding-bottom: 5px;
        line-height: 51px;
    }
}

/** custom classes **/
.hidden{
    display: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

/** close button **/